/* ##Device = Tablets, Ipads (portrait)
*/

@media (min-width: 768px) and (max-width: 1023px) {

  body{
    background-color: blue !important;
  }
  //login
  .wrapper-login{
    .form-background{
      .bg-login{
        width: 300px;
        height: 275px;
      }
    }
  }

}
/* ##Device = Tablets, Ipads (landscape)*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  body{
    background-color: seagreen !important;
  }
  //login
  .wrapper-login{
    .form-background{
      .bg-login{
        width: 300px;
        height: 275px;
      }
    }
  }
}
