#notification {
  transition: all 0.5s ease-out;
}
#notification::before{
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.content-noti{
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  min-width: 500px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
}
.noti-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  object-fit: contain;
  justify-content: center;
  border-bottom: 1px solid #a8afb5;
  position: relative;
}
.noti-header span{
  color: #011a2e;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: 'Montserrat-SemiBold', Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.noti-header i{
  position: absolute;
  width: 24px;
  height: 24px;
  right: 15px;
  background-image: url('./close-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.hidden {
  display: none;
}
.noti-body{
  position: relative;
  margin: 0px auto;
  padding: 15px;
  overflow: hidden;
}
.noti-body #message{
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2196F3;
  max-width: calc(100% - 20px);
  word-break: break-all;
}
.noti-body .main-progress{
  background-color: #e8e8e8!important;
  height: 15px;
  border-radius: 6px;
  margin: 30px auto;
}
.noti-body #progressBar{
  background-color: #2196F3!important;
  border-radius: 6px;
  height: 15px;
  transition: 0.3s all;
}
.noti-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
  padding: 10px 0px;
}
#restart-button:disabled {
  background: #dddddd;
  cursor: not-allowed;
}